@font-face {
    font-family: 'retropix';
    src: url(./assets/font/slkscre.ttf);
}

@font-face {
    font-family: 'retropix-bold';
    src: url(./assets/font/slkscrb.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    touch-action: none;
    overflow: hidden !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    font-family: 'retropix' !important;
}
.controls {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row {
    display: flex;
}
button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
}
.room-name {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    text-align: center;
    z-index: 10;
    pointer-events: none;
}

.room-name h2 {
    margin: 0;
    font-family: 'retropix-bold' !important;
    font-size: 15px;
    width: 270px;
}
.victory-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.victory-content {
    background-color: #f0e0c0;
    padding: 20px;
    text-align: center;
    border: 5px solid #8B4513;
}

.victory-content h1 {
    color: #8B4513;
    margin-top: 0;
}

.victory-content button {
    background-color: #8B4513;
    color: #f0e0c0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.victory-content button:hover {
    background-color: #a05c2c;
}

.game-timer {
    display: block;
    margin-top: 20px;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 20px;
}

.puzzle-solved {
    display: none !important; /* DA MODIFICARE ORA SOLO PER TEST */
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    background-color: rgba(0, 128, 0, 0.7);
    color: #ffffff;
    padding: 5px 10px;
    
    font-size: 14px;
    z-index: 10;
}

.puzzle-unsolved {
    display: none !important; /* DA MODIFICARE ORA SOLO PER TEST */
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    background-color: rgba(255, 0, 0, 0.7);
    color: #ffffff;
    padding: 5px 10px;
    font-size: 14px;
    z-index: 10;
}

.time-up h1 {
    color: #ff0000;
}

.time-up {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}


/* ############# JOYSTICK ############# */
.game-controls-container {
    position: fixed;
    bottom: 120px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 25px 0 40px;
    pointer-events: none;
    z-index: 1000;
    align-items: center;
}

.joystick-container {
    pointer-events: auto;
}

.joystick-base {
    width: 120px;
    height: 120px;
    background-color: rgba(0, 68, 0, 0.3);
    border: solid 5px #ffffff12;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
    touch-action: none;
}

.joystick-handle {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 68, 0, 0.7);
    border: 2px solid #0524034f;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 11px 3px rgb(0 0 0 / 37%);
    touch-action: none;
}

.x-button-container {
    margin-right: 20px;
    pointer-events: auto;
}

.x-button {
    width: 80px;
    height: 80px;
    background-color: rgba(0, 68, 0, 0.7);
    border: 2px solid #00aa00;
    border-radius: 50%;
    color: #00ff00;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 5px rgb(8 32 8 / 70%);
    box-shadow: 0 0 15px rgb(19 47 19 / 60%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    touch-action: manipulation;
}

.x-button:active, .x-button.pressed {
    background-color: rgba(0, 100, 0, 0.9);
    transform: scale(0.95);
    box-shadow: 0 0 25px rgba(0, 255, 0, 0.8);
}

@media (max-width: 600px) {
    .joystick-base {
        width: 100px;
        height: 100px;
        border: solid 5px #08310645;
    }
    
    .joystick-handle {
        width: 50px;
        height: 50px;
    }
    
    .x-button {
        width: 70px;
        height: 70px;
        font-size: 26px;
        border: solid 5px #083106;
    }
}

.game-timer {
    z-index: 1001;
}

.joystick-base, .x-button {
    position: relative;
}

.joystick-base::after, .x-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        rgba(18, 16, 16, 0) 50%, 
        rgba(0, 0, 0, 0.1) 50%
    );
    background-size: 100% 4px;
    z-index: 2;
    pointer-events: none;
    opacity: 0.2;
    border-radius: 50%;
}
/* ############# JOYSTICK ############# */